<section class="signup-form">
  <form  fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onLogin()">
    <mat-form-field>
      <input
       type="email"
        matInput 
        placeholder="Your Email"
         ngModel
          name="email"
         email
         required
   
         >
         <mat-error *ngIf="emailNotExists">The Email Address is Not Available</mat-error>
         
   </mat-form-field>

 
 <div>
    <p><a routerLink="/login">Back to Login</a></p>

  </div> 
  
  <button type="submit" mat-raised-button color="primary" >Request</button>
</form>
<div class="alert alert-success" *ngIf="forgetPasswordEmailSent">Email sent.</div>
</section>