
<div class="container"  fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
        <section >
                <mat-tab-group>
                    <mat-tab label="New Profile">
            <app-newprofile></app-newprofile>

                    </mat-tab>
                   
                    <mat-tab label="View Profile">
            <app-viewprofile></app-viewprofile>
                        </mat-tab>
                 
                </mat-tab-group>
            
            
            
            </section>
</div>
